@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  /* Font Variables */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: 'Quicksand', sans-serif;

  /* Background color */
  --bg-primary: #032541;
  --bg-secondary: #031536;
  --bg-white: #fff;
  --bg-light-white:#fcfcfc;
  --bg-light-2: #f2f7fa;

  /* Text Color Variables */
  --text-primary: #032541;
  --text-secondary: #031536;
  --text-white: #fff;
  --text-light-white: #e5eaf5;
  --text-black: #121212;
  --text-black-2: #23272a;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  background-color: var(--bg-white);
  color: var(--text-black);
  padding-top: 53px;
  scroll-behavior: smooth;
}

/* Buttons Custom CSS */
.btn-light-blue {
  background: linear-gradient(to right,rgba(30,213,169,1) 0%,rgba(1,180,228,1) 100%);
  color: var(--text-white);
}

.btn-primary {
  background-color: var(--text-primary);
  color: var(--text-white);
  border-color: var(--text-primary);
}

/* Card Custom CSS */
.card{
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.table-container{
  overflow: auto;
}
/*****************************************************************
$$\   $$\                           $$\                     
$$ |  $$ |                          $$ |                    
$$ |  $$ | $$$$$$\   $$$$$$\   $$$$$$$ | $$$$$$\   $$$$$$\  
$$$$$$$$ |$$  __$$\  \____$$\ $$  __$$ |$$  __$$\ $$  __$$\ 
$$  __$$ |$$$$$$$$ | $$$$$$$ |$$ /  $$ |$$$$$$$$ |$$ |  \__|
$$ |  $$ |$$   ____|$$  __$$ |$$ |  $$ |$$   ____|$$ |      
$$ |  $$ |\$$$$$$$\ \$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$ |      
\__|  \__| \_______| \_______| \_______| \_______|\__|      
                                                            
                                                                                            
Description: Header CSS
*****************************************************************/

#header .bg-tmdb {
  background: var(--bg-primary);
}

#header .navbar-toggler {
  border: none;
}

#header .navbar-toggler:focus {
  box-shadow: none;
}

#header .navbar-toggler-icon {
  color: var(--text-white);
  width: unset;
  height: unset;
}

#header .navbar-nav .nav-item .nav-link {
  color: var(--text-white);
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}

#header .navbar-nav .nav-item .active {
  font-weight: bold;
}

#header .navbar {
  -webkit-tranistion: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}

/*****************************************************************
 $$$$$$\                        $$\     $$\                     
$$  __$$\                       $$ |    \__|                    
$$ /  \__| $$$$$$\   $$$$$$$\ $$$$$$\   $$\  $$$$$$\  $$$$$$$\  
\$$$$$$\  $$  __$$\ $$  _____|\_$$  _|  $$ |$$  __$$\ $$  __$$\ 
 \____$$\ $$$$$$$$ |$$ /        $$ |    $$ |$$ /  $$ |$$ |  $$ |
$$\   $$ |$$   ____|$$ |        $$ |$$\ $$ |$$ |  $$ |$$ |  $$ |
\$$$$$$  |\$$$$$$$\ \$$$$$$$\   \$$$$  |$$ |\$$$$$$  |$$ |  $$ |
 \______/  \_______| \_______|   \____/ \__| \______/ \__|  \__|
                                                                                            
Description: Section CSS
*****************************************************************/
.section-wrapper {
  padding: 80px 0 50px;
}

section .title {
  margin-bottom: 120px;
}

section .title h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  line-height: 1.25px;
  margin-bottom: 40px;
  color: var(--text-primary);
  position: relative;
}

section .title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 6rem;
  height: 5px;
  background: var(--text-secondary);
  top: 40px;
  left: calc(50% - 3rem);
}

/***********************************************************************
$$\      $$\           $$\                                             
$$ | $\  $$ |          $$ |                                            
$$ |$$$\ $$ | $$$$$$\  $$ | $$$$$$$\  $$$$$$\  $$$$$$\$$$$\   $$$$$$\  
$$ $$ $$\$$ |$$  __$$\ $$ |$$  _____|$$  __$$\ $$  _$$  _$$\ $$  __$$\ 
$$$$  _$$$$ |$$$$$$$$ |$$ |$$ /      $$ /  $$ |$$ / $$ / $$ |$$$$$$$$ |
$$$  / \$$$ |$$   ____|$$ |$$ |      $$ |  $$ |$$ | $$ | $$ |$$   ____|
$$  /   \$$ |\$$$$$$$\ $$ |\$$$$$$$\ \$$$$$$  |$$ | $$ | $$ |\$$$$$$$\ 
\__/     \__| \_______|\__| \_______| \______/ \__| \__| \__| \_______|
                                                                       
                                                                       
Description: Welcome CSS
***********************************************************************/

#welcome-section {
  background: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/9xfDWXAUbFXQK585JvByT5pEAhe.jpg") no-repeat center center;
  background-size: cover;
}

#welcome-section .welcome-contet-wrapper{
  padding: 70px 40px;
}

#welcome-section .welcome-contet-wrapper h1{
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}

#welcome-section .welcome-contet-wrapper h3{
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

#welcome-section .search-container{
  margin: 60px 0 20px;
  position: relative;
}

#welcome-section .search-container input {
  padding: 10px 20px;
}

#welcome-section .search-container button {
  position: absolute;
  padding: 10px 20px;
  top: 0;
  right: -1px;
  z-index: 10;
}

/*******************************************************
$$$$$$$$\                   $$\                         
$$  _____|                  $$ |                        
$$ |    $$$$$$\   $$$$$$\ $$$$$$\    $$$$$$\   $$$$$$\  
$$$$$\ $$  __$$\ $$  __$$\\_$$  _|  $$  __$$\ $$  __$$\ 
$$  __|$$ /  $$ |$$ /  $$ | $$ |    $$$$$$$$ |$$ |  \__|
$$ |   $$ |  $$ |$$ |  $$ | $$ |$$\ $$   ____|$$ |      
$$ |   \$$$$$$  |\$$$$$$  | \$$$$  |\$$$$$$$\ $$ |      
\__|    \______/  \______/   \____/  \_______|\__|      
                                                        

Description: Footer Section
*******************************************************/
#footer {
  background-color: var(--bg-primary);
  color: var(--text-light-white);
}

#footer .copyright-section {
  background-color: var(--bg-secondary);
  color: var(--text-light-white);
}

#footer .footer-link {
  text-decoration: none;
}

#footer .footer-link:hover {
  color: var(--text-white) !important;
  text-decoration: underline;
}

/***********************************************
$$\      $$\                 $$\ $$\           
$$$\    $$$ |                $$ |\__|          
$$$$\  $$$$ | $$$$$$\   $$$$$$$ |$$\  $$$$$$\  
$$\$$\$$ $$ |$$  __$$\ $$  __$$ |$$ | \____$$\ 
$$ \$$$  $$ |$$$$$$$$ |$$ /  $$ |$$ | $$$$$$$ |
$$ |\$  /$$ |$$   ____|$$ |  $$ |$$ |$$  __$$ |
$$ | \_/ $$ |\$$$$$$$\ \$$$$$$$ |$$ |\$$$$$$$ |
\__|     \__| \_______| \_______|\__| \_______|
                                               
                                               
                                   

Description: Media Queries Section CSS
***********************************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #welcome-section .welcome-contet-wrapper h1{
    font-size: 2em;
  }

  #welcome-section .welcome-contet-wrapper h3{
    font-size: 1em;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  #welcome-section .welcome-contet-wrapper h1{
    font-size: 2.5em;
  }

  #welcome-section .welcome-contet-wrapper h3{
    font-size: 1.5em;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {

  #welcome-section .welcome-contet-wrapper h1{
    font-size: 3em;
  }

  #welcome-section .welcome-contet-wrapper h3{
    font-size: 1.8em;
  }

}